Repository vre-charite/core: changes, and which Jenkins stages are due for each by the changed paths.
All: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

DEV Build and push portal image:
        steps{
          script {
              docker.withRegistry('http://10.3.7.221:5000', registryCredential) {
                  customImage = docker.build("10.3.7.221:5000/portal:${env.BUILD_ID}",  "--build-arg PORTAL_ENV=build-dev ./portal")
                  customImage.push()
              }
          }
  ...

DEV Remove portal image:
        steps{
          sh "docker rmi $imagename_portal_dev:$BUILD_NUMBER"
        }
      

DEV Deploy portal:
        steps{
          sh "sed -i 's/<VERSION>/${BUILD_NUMBER}/g' kubernetes/dev-portal-deployment.yaml"
          sh "kubectl config use-context dev"
          sh "kubectl apply -f kubernetes/dev-portal-deployment.yaml"
        }
      

DEV Building and push bff:
        steps{
          script {
              docker.withRegistry('http://10.3.7.221:5000', registryCredential) {
                  customImage = docker.build("10.3.7.221:5000/bff:${env.BUILD_ID}", "./backend")
                  customImage.push()
              }
          }
        }
      

DEV Remove bff image:
        steps{
          sh "docker rmi $imagename_bff_dev:$BUILD_NUMBER"
        }
      

DEV Deploy bff:
        steps{
          sh "sed -i 's/<VERSION>/${BUILD_NUMBER}/g' kubernetes/dev-bff-deployment.yaml"
          sh "kubectl config use-context dev"
          sh "kubectl apply -f kubernetes/dev-bff-deployment.yaml"
        }
      

STAGING Building and push portal image:
        steps{
          script {
              docker.withRegistry('http://10.3.7.241:5000', registryCredential) {
                  customImage = docker.build("10.3.7.241:5000/portal:${env.BUILD_ID}", "--build-arg PORTAL_ENV=build-staging ./portal")
                  customImage.push()
              }
  ...

STAGING Remove portal image:
        steps{
          sh "docker rmi $imagename_portal_staging:$BUILD_NUMBER"
        }
      

STAGING Deploy portal:
        steps{
          sh "sed -i 's/<VERSION>/${BUILD_NUMBER}/g' kubernetes/staging-portal-deployment.yaml"
          sh "kubectl config use-context staging"
          sh "kubectl apply -f kubernetes/staging-portal-deployment.yaml"
        }
      

STAGING Building and push bff image:
        steps{
          script {
              docker.withRegistry('http://10.3.7.241:5000', registryCredential) {
                  customImage = docker.build("10.3.7.241:5000/bff:${env.BUILD_ID}", "./backend")
                  customImage.push()
              }
          }
        }
      

STAGING Remove bff image:
        steps{
          sh "docker rmi $imagename_bff_staging:$BUILD_NUMBER"
        }
      

STAGING Deploy bff:
        steps{
          sh "sed -i 's/<VERSION>/${BUILD_NUMBER}/g' kubernetes/staging-bff-deployment.yaml"
          sh "kubectl config use-context staging"
          sh "kubectl apply -f kubernetes/staging-bff-deployment.yaml"
        }
      

Update timeout from 10s to 60s
  portal/package-lock.json
  portal/package.json
  portal/public/locales/en/errormessages.json
  portal/public/locales/en/formErrorMessages.json
  portal/public/locales/en/modals.json
  portal/public/locales/en/releaseVersion.json
  portal/public/locales/en/success.json
  portal/public/locales/en/support.json
  portal/public/locales/en/tooltips.json
  portal/public/manifest.json
  portal/src/APIs/file.js
  portal/src/Utility/project-roles.json
  portal/src/Views/Dataset/DatasetSchema/Components/SchemaForm/default/contributors.json
  portal/src/Views/Dataset/DatasetSchema/Components/SchemaForm/default/disease.json
  portal/src/Views/Dataset/DatasetSchema/Components/SchemaForm/default/distribution.json
  portal/src/Views/Dataset/DatasetSchema/Components/SchemaForm/default/essential.json
  portal/src/Views/Dataset/DatasetSchema/Components/SchemaForm/default/grant.json
  portal/src/Views/Dataset/DatasetSchema/Components/SchemaForm/default/subjects.json
  portal/yarn.lock
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

fix footer and rocket icon
  .vscode/settings.json
  portal/.gitignore
  portal/package-lock.json
  portal/public/Rocket.png
  portal/src/Components/Layout/Footer.jsx
  portal/src/Components/Modals/RelaseNoteModal.jsx
  portal/src/Portal.js
  portal/src/Views/Login/Auth.jsx
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

VRE-2642 Update core CICD pipeline
  .gitlab-ci.yml
  backend/internal_requirements.txt
  backend/requirements.txt
  backend/tests/test_requirements.txt
  gitlab-ci.yml
Due: DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

Archive gitlab-ci.yml
  archived/gitlab-ci.yml
Due: none

Trigger CICD
  backend/Dockerfile
Due: DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

Trigger CICD
  .gitlab-ci.yml
  backend/Dockerfile
Due: DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

Trigger portal CICD
  portal/Dockerfile
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

Trigger maintenance page CICD
  maintenance-page/Dockerfile
Due: none

Path conditions:
  DEV Build and push portal image: any of: portal/**
  DEV Remove portal image: any of: portal/**
  DEV Deploy portal: any of: portal/**
  DEV Building and push bff: any of: backend/**
  DEV Remove bff image: any of: backend/**
  DEV Deploy bff: any of: backend/**
  STAGING Building and push portal image: any of: portal/**
  STAGING Remove portal image: any of: portal/**
  STAGING Deploy portal: any of: portal/**
  STAGING Building and push bff image: any of: backend/**
  STAGING Remove bff image: any of: backend/**
  STAGING Deploy bff: any of: backend/**
