Repository vre-charite/core: changes, and which Jenkins stages are due for each by the changed paths.
All: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

Path conditions:
  DEV Build and push portal image: any of: portal/**
  DEV Remove portal image: any of: portal/**
  DEV Deploy portal: any of: portal/**
  DEV Building and push bff: any of: backend/**
  DEV Remove bff image: any of: backend/**
  DEV Deploy bff: any of: backend/**
  STAGING Building and push portal image: any of: portal/**
  STAGING Remove portal image: any of: portal/**
  STAGING Deploy portal: any of: portal/**
  STAGING Building and push bff image: any of: backend/**
  STAGING Remove bff image: any of: backend/**
  STAGING Deploy bff: any of: backend/**

VRE deployment
  portal/src/Views/Dataset/DatasetSchema/DatasetSchema.jsx
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

VRE deployment
  backend/api/api_resource_request/resource_request.py
Due: DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

VRE deployment
  backend/api/api_container/api_container_user.py
  backend/api/api_project_v2.py
Due: DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

VRE deployment
  backend/api/api_files/meta.py
  backend/resources/utils.py
Due: DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

VRE deployment
  portal/src/Components/Layout/Footer.jsx
  portal/src/Views/Login/Auth.jsx
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

VRE deployment
  portal/src/Components/Modals/TermsOfUseModal.jsx
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

VRE deployment
  backend/api/api_project_v2.py
  backend/test.py
  backend/tests/test_add_user.py
Due: DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

[ci skip] changing gitlab-ci args
  .gitlab-ci.yml
  backend/Dockerfile
Due: DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

[ci skip] removing proxy from Dockerfile
  portal/Dockerfile
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

[ci skip] moving http_proxy from Dockerfile to gitlab-ci
  .gitlab-ci.yml
Due: none

[ci skip] moving http_proxy from Dockerfile to gitlab-ci
  gitlab-ci.yml
Due: none

[ci skip] syncing the Dockerfile with Dev and passing the ARG from gitlab-ci to Dockerfile
  .gitlab-ci.yml
  portal/Dockerfile
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

VRE deployment
  backend/Dockerfile
  backend/api/__init__.py
  backend/api/api_container/api_container_user.py
  backend/api/api_kg/api_kg_resource.py
  backend/api/api_project.py
  backend/api/api_project_v2.py
  backend/config.py
  backend/tests/prepare_test.py
  backend/tests/test_create_project.py
  backend/tests/test_get_project_api.py
  portal/Dockerfile
  portal/package.json
  portal/public/locales/en/releaseVersion.json
  portal/src/APIs/file.js
  portal/src/Components/Layout/Footer.jsx
  portal/src/Components/Layout/Header.jsx
  portal/src/Components/Table/requestTable.jsx
  portal/src/KeyCloakMiddleware.js
  portal/src/Portal.js
  portal/src/Routes/app.js
  portal/src/Utility/keycloakActions/index.js
  portal/src/Views/Dataset/DatasetData/Components/DatasetDataExplorer/utility.js
  portal/src/Views/Dataset/DatasetSchema/Components/ExistingSchemaContents/VreSchemasTabContents.jsx
  portal/src/Views/Dataset/DatasetSchema/Components/ExistingSchemaContents/index.module.scss
  portal/src/Views/Dataset/DatasetSchema/Components/SchemaTemplates/SchemaTemplates.jsx
  portal/src/Views/Dataset/DatasetSchema/Components/SchemaTemplates/SchemaTemplates.module.scss
  portal/src/Views/Dataset/DatasetSchema/DatasetSchemaTemplates/DatasetSchemaTemplates.jsx
  portal/src/Views/Dataset/DatasetSchema/DatasetSchemaTemplates/DatasetSchemaTemplates.module.scss
  portal/src/Views/GeneralPage/General404Page.jsx
  portal/src/Views/Login/Auth.jsx
  portal/src/Views/Project/Canvas/Charts/FileExplorer/FilesTable.jsx
  portal/src/Views/Project/Canvas/Charts/FileExplorer/RawTable.jsx
  portal/src/Views/Project/Components/GreenRoomUploader.jsx
  portal/src/Views/Project/Settings/Settings.jsx
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

VRE deployment
  portal/src/Routes/app.js
  portal/src/Utility/protectedRoutes.js
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

VRE deployment
  portal/src/APIs/file.js
  portal/src/Utility/fileUpload/fileUpload.js
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

[ci skip] update the env
  kubernetes/bff-deployment.yaml
Due: none

[ci skip] update the env
  kubernetes/portal-deployment.yaml
Due: none

VRE deployment
  portal/package.json
  portal/public/locales/en/releaseVersion.json
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

VRE deployment
  portal/src/Views/Project/RequestToCore/RequestToCore.module.scss
  portal/src/Views/Project/RequestToCore/TablePlugins/RequestPlugin/Widget.jsx
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

VRE deployment
  portal/src/Components/FileExplorer/FileExplorerTable.jsx
  portal/src/Components/FileExplorer/FileExplorerTable.module.scss
  portal/src/Components/FileExplorer/index.module.scss
  portal/src/Views/Dataset/DatasetSchema/Components/ExistingSchemaContents/ExistingSchemaContents.jsx
  portal/src/Views/Dataset/DatasetSchema/Components/ExistingSchemaContents/index.module.scss
  portal/src/Views/Dataset/DatasetSchema/Components/ExistingSchemaContents/openMindsSchemasTabContents.jsx
  portal/src/Views/Project/RequestToCore/TablePlugins/RequestPlugin/Widget.jsx
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

VRE deployment
  portal/src/Views/Project/RequestToCore/RequestToCore.jsx
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

VRE-2203 Replace docker registry address with tls encrytion domain URL as per required by Chairte IT
  .gitlab-ci.yml
  kubernetes/bff-deployment.yaml
  kubernetes/portal-deployment.yaml
Due: none

Trigger CICD
  backend/requirements.txt
  portal/README.md
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, DEV Building and push bff, DEV Remove bff image, DEV Deploy bff, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal, STAGING Building and push bff image, STAGING Remove bff image, STAGING Deploy bff

Revert "VRE-2203 Replace docker registry address with tls encrytion domain URL as per..."
  .gitlab-ci.yml
  kubernetes/bff-deployment.yaml
  kubernetes/portal-deployment.yaml
Due: none

VRE-2203 Update docker URL
  .gitlab-ci.yml
  kubernetes/bff-deployment.yaml
  kubernetes/portal-deployment.yaml
Due: none

Update AddUserModal.jsx
  portal/src/Views/Project/Teams/Components/AddUserModal.jsx
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

Update maintenance page image
  .gitlab-ci.yml
Due: none

Trigger CICD
  maintenance-page/maintenance-page/Dockerfile
Due: none

Trigger CICD
  .gitlab-ci.yml
  maintenance-page/maintenance-page/Dockerfile
Due: none

Adding maintenance page yaml
  kubernetes/maintenance-page-deployment.yaml
Due: none

Update maintenance-page-deployment.yaml
  kubernetes/maintenance-page-deployment.yaml
Due: none

Trigger CICD
  portal/README.md
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

Update gitlab-ci
  .gitlab-ci.yml
Due: none

Trigger CICD
  .gitlab-ci.yml
  maintenance-page/Dockerfile
Due: none

Trigger CICD
  kubernetes/portal-deployment.yaml
  portal/README.md
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal

VRE deployment
  maintenance-page/Dockerfile
  portal/README.md
  portal/src/Components/Notifications/BellNotifications.jsx
  portal/src/Views/Dataset/Components/FilePanelItem/FilePanelItem.jsx
  portal/src/Views/Dataset/Components/FilePanelItem/FilePanelItem.module.scss
  portal/src/Views/Project/Components/AnnouncementButton.jsx
Due: DEV Build and push portal image, DEV Remove portal image, DEV Deploy portal, STAGING Building and push portal image, STAGING Remove portal image, STAGING Deploy portal
